@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../assets/fonts/Inter-Bold.ttf");
}

body::before {
  background-attachment: scroll;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  transform: scale(3);
  top: 0;
  width: 100vw;
  z-index: -1;
  background-image: url("../assets/bg.svg");
  background-size: 100% 100%, auto;
  background-position: center, 0% 0%;
  background-repeat: no-repeat, repeat;
  /* background: #ffffff21; */
}

.btn {
  @apply font-inter text-white p-2 px-3 rounded-md cursor-pointer hover:bg-[#d3ddff1f] hover:text-bb-light;
}

.btn--secondary {
  @apply font-interbold p-2 px-6 rounded-2xl cursor-pointer bg-white text-black hover:-translate-y-1 duration-200;
}

.btn--tertiary {
  @apply font-interbold bg-[#d3ddff1f] rounded-2xl px-8 py-2 text-white text-lg hover:-translate-y-1 duration-150 cursor-pointer;
}
